.header{
    background-color: rgba(229, 84, 115, 0.10);;
}


#upper-heading {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 50px 72px 65px 40px;
    margin-right: 500px;
    margin-bottom: 10px;
    
}

.heading-middle {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin: 50px 72px 65px 40px;
    margin-right: 300px;
    margin-bottom: 10px;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-picture {
    width: 635px;
    

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    margin: 50px 72px 65px 40px;
    padding: 20px 20px;
    gap: 10px;
    text-align: center;

}